@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Public Sans';
}

.h-720 {
  height: 720px;
}